// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  margin-top: 30px;
}

.container {
  display: block;
  margin: auto;
  width: 1000px;
  
  img {
    margin-left: 10px;
  }
}

.main-navigation {
  border-bottom: 1px solid #f7f7f7;
  background-color: white;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;

  &__item {
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: border-bottom ease 0.2s;
    cursor: pointer;

    &:hover {
      border-bottom: 5px solid #00CC6D;
    }

    &--active {
      border-bottom: 5px solid #00AC5B;

      &:hover {
        border-bottom: 5px solid #00AC5B;
      }

    }

  }

}

.breadcrumbs {
  margin: 10px 0 10px 10px;
  font-size: 12px;
  color: grey;
}

.buttons {
  display: flex;
}

.button {
  cursor: pointer;

  margin-top: 20px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    user-select: none;
  }

  &__yellow {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid darken(rgba(255,255,0,1), 10);
    margin-right: 10px;
    background: transparent;
    transition: background 100ms ease-in-out;

    &--clicked {
      background: rgba(255,255,0,1);
    }

  }

  &__blue {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid darken(rgba(0,0,255,1), 10);
    background: transparent;
    margin-right: 10px;
    transition: background 100ms ease-in-out;

    &--clicked {
      background: rgba(0,0,255,1);
    }

  }

  &__green {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid darken(rgba(0,255,0,1), 10);
    margin-right: 10px;
    background: transparent;
    transition: background 100ms ease-in-out;

    &--clicked {
      background: rgba(0,255,0,1);
    }

  }

}
