// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  background-color: #faebd6;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-navigation {
  list-style: none;
  display: flex;
  background-color: white;
  justify-content: center;

  &__item {
    padding: 10px;

    &:not(:last-child) {
      border-right: 1px solid grey;
    }

  }

}

